<%include ../partials/header%>

<div class = "container">
    <div class = "row">
        <h1 style="text-align:center"> Create a new movie</h1>
        <div style = "width:30%; margin:25px auto;">
            <form action = "/movies" method = "POST">
                <div class = "form-group">
                    <input class="form-control" type = "text" name="name" placeholder = "name">
                </div>
                <div class = "form-group">
                    <input class="form-control" type = "text" name="image" placeholder = "image url">   
                </div>
                <div class = "form-group">
                    <input class="form-control" type = "text" name="description" placeholder = "description">   
                </div>
                <div class = "form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit</button>
                </div>
<<<<<<< HEAD:views/movies/new.ejs
                  
                
=======
                <div class= "btn btn-lg btn-success btn-block">Create</button>
>>>>>>> origin/master:views/new.ejs
        </div>
        
    </div>
    
</form>
<a href = "/movies">Go Back</a>
</div>


<<<<<<< HEAD:views/movies/new.ejs
<%include ../partials/footer%>
=======
<%include partials/footer%>
>>>>>>> origin/master:views/new.ejs
